{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-3 text-center">Administración de inventario</h1>
        <p> Bienvenido al sistema de <strong>Calzatura Francesca</strong>. <br>
            Este sistema se encarga de la administración de la mercaderia en la tienda,
            aquí se puede registrar mercaderia entrante, borrar en caso sea necesario, editar datos de algún zapato
            así como también marcar la venta con hora en la que se hizo la venta de esa manera se tenga un orden adecuado del 
            inventario. Para comenzar haciendo click en la parte superior para posteriormente iniciar sesión con su cuenta de administrador <br><br>  
            <strong>Desarrollado por Abraham Toribio Osorio</strong>
        </p>
    </section>
</main>

{% endblock  %}
